[core]
    editor = nvim
[alias]
    lol  = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[user]
	name = bmendbayar
	email = btrglm@proton.me
